<h1>Data Anon</h1>
<div id="data_anon_container">
  <div id="data_anon_tables">
    <% @tables.each do |table| %>
      <div class="table">
        <h1><%= table[:name] %></h1>
        <% table[:columns].each do |col| %>
          <p><%= col[:name] %> <i>(<%= col[:type] %>)</i></p>
          <%= check_box_tag "checkbox_#{col[:key]}", 0, false, class: "checkbox-input", data: {table: table[:table], column: col[:name]} %>
          <%= select_tag "select_#{col[:key]}", options_for_select(@strategies, nil), include_blank: true, disabled: true, class: "select-input", data: {table: table[:table], column: col[:name]} %>
        <% end %>
      </div>
    <% end %>

  </div>
  <div id="data_anon_results">
    Output
    <textarea id="json-output" rows="20"></textarea>
    <button id="reload">Load</button>
  </div>
</div>
